/**
----- Color
- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys: #555
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1;
  line-height: 1;
}