/**
* Main Color: #087f5b
* Gray Color: #343a40
* Violet color: #7048e8
* Violet Dark: #5f3dc4
* Gray color: #e9ecef
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
  line-height: 1;
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1 /-1;
}

menu {
  background-color: #7048e8;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 40px;
}

button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5f3dc4;
  border: 0;
  cursor: pointer;
  padding: 8px 12px;
  display: inline-block;
}

button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}

section {
  background-color: #e9ecef;
  padding: 40px;

  display: flex;
  overflow: scroll;
  gap: 40px;
  flex-direction: column;
}

.email {
  background-color: #adb5bd;
  height: 96px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #e9ecef;
}
